creating variable for string,list,float,tuple

In [3]:
y="sushant"

<class 'str'>

In [4]:
s=[23,45,54,56,532]

<class 'list'>

In [ ]:
m=45.6

In [ ]:
t=(5,)

data type in for below variable

In [5]:
var1=''
print(type(var1))

<class 'str'>

In [9]:
var2='['ds','Ml','Python']'
print(type(var2))

SyntaxError: invalid syntax (942583972.py, line 1)

In [10]:
var3=['ds','Ml','Python']
print(type(var3))

<class 'list'>

In [11]:
var4=1.
print(type(var4))

<class 'float'>

Explain the use of the following operators using an example

(i) /
(ii) %
(iii) //
(iv) **

/ =use for this operator for dividing two element

In [13]:
x=4/2
print(x)

2.0

ii)% modules oprator put remainder when we divided

In [14]:
x=5%2
print(x)

1

iii)// dived give the floar value

In [15]:
x=5//2
print(x)

2

iv)** use calculate squre or cube of the number

In [16]:
y=4**2
print(y)

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
s=['sushant',23,34,56,'pw','kohali','dhoni',45,67,50]
for x in s:
    print(type(x))

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a=12
b=3
while a/b:
    print(a is divisible by b)
    count(print)

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
list_1 = list()
for x in range(25):
    list_1.append(x)